<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="org.abishiek.base.TestListeners"/>
    </listeners>
    <test name="MainTest" >
        <classes>
            <class name= "org.abishiek.TestClass.HomePageTest">

            </class>
        </classes>
    </test>
</suite>
